$white:#ffffff;
$black:#000000;
$blue:#5E78FB;
$dark-blue:#1B275B;
$pink:#F94754;
$sky-blue:#0AB7FA;
$light-faded-color:#8F97B6;
$fade-color:#707070;
$bg-blue:#7B79FC;
$bg-color:#EDF4FA;
$bg: #EDF2F0;
$beige:beige;
$neu-1: #ecf0f3;
$neu-2: #d1d9e6;

$light-white: #f9f9f9;
$gray: #a0a5a8;
$light-black: #181818;
$light-orange:#fd9644;

$purple-blue: #4B70E2;
$blue-hues:#464493;
$input-border: #bfd1e3;

$login-transition:1s;

